demonstrator/tbischeduling/site/xmltbischeduling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="applicationDifference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="applicationWarning" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cumulativeNeed" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cumulativeProfile" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="cumulativeResource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dataGeneratorProperty" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dataGeneratorRun" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="disjunctiveResource" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="downtime" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="inputError" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="intermediateSolution" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="job" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="jobAssignment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="order" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="problem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="process" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="processSequence" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="processStep" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="product" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="resourceNeed" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="resourceUtilization" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="scenario" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="setup" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="setupMatrix" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="setupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="solution" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="solutionError" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="solverProperty" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="solverRun" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="task" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="taskAssignment" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="wiP" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="applicationDifference">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="item" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="applicationWarning">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="attrString" use="required" type="xs:string"/>
			<xs:attribute name="classString" use="required" type="xs:string"/>
			<xs:attribute name="item" use="required" type="xs:string"/>
			<xs:attribute name="limit" use="required" type="xs:string"/>
			<xs:attribute name="type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cumulativeNeed">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="cumulativeResource" use="required" type="xs:IDREF"/>
			<xs:attribute name="demand" use="required" type="xs:integer"/>
			<xs:attribute name="processStep" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cumulativeProfile">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="capacity" use="required" type="xs:integer"/>
			<xs:attribute name="cumulativeResource" use="required" type="xs:IDREF"/>
			<xs:attribute name="from" use="required" type="xs:integer"/>
			<xs:attribute name="fromDate" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cumulativeResource">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataGeneratorProperty">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="downtimeProbability" use="required" type="xs:double"/>
			<xs:attribute name="durationFixedFactor" use="required" type="xs:integer"/>
			<xs:attribute name="durationModel" use="required" type="xs:string"/>
			<xs:attribute name="earliestDue" use="required" type="xs:integer"/>
			<xs:attribute name="horizonDays" use="required" type="xs:integer"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="maxCumulCapacity" use="required" type="xs:integer"/>
			<xs:attribute name="maxCumulDemand" use="required" type="xs:integer"/>
			<xs:attribute name="maxDowntime" use="required" type="xs:integer"/>
			<xs:attribute name="maxDuration" use="required" type="xs:integer"/>
			<xs:attribute name="maxQty" use="required" type="xs:integer"/>
			<xs:attribute name="maxStages" use="required" type="xs:integer"/>
			<xs:attribute name="maxWip" use="required" type="xs:integer"/>
			<xs:attribute name="minCumulCapacity" use="required" type="xs:integer"/>
			<xs:attribute name="minCumulDemand" use="required" type="xs:integer"/>
			<xs:attribute name="minDowntime" use="required" type="xs:integer"/>
			<xs:attribute name="minDuration" use="required" type="xs:integer"/>
			<xs:attribute name="minQty" use="required" type="xs:integer"/>
			<xs:attribute name="minStages" use="required" type="xs:integer"/>
			<xs:attribute name="minWip" use="required" type="xs:integer"/>
			<xs:attribute name="nrCumulativeResources" use="required" type="xs:integer"/>
			<xs:attribute name="nrDisjunctiveResources" use="required" type="xs:integer"/>
			<xs:attribute name="nrOrders" use="required" type="xs:integer"/>
			<xs:attribute name="nrProducts" use="required" type="xs:integer"/>
			<xs:attribute name="profilePieces" use="required" type="xs:integer"/>
			<xs:attribute name="resourceModel" use="required" type="xs:string"/>
			<xs:attribute name="resourceProbability" use="required" type="xs:double"/>
			<xs:attribute name="seed" use="required" type="xs:integer"/>
			<xs:attribute name="startDateTime" use="required" type="xs:dateTime"/>
			<xs:attribute name="timeResolution" use="required" type="xs:integer"/>
			<xs:attribute name="wipProbability" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataGeneratorRun">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="downtimeProbability" use="required" type="xs:double"/>
			<xs:attribute name="durationFixedFactor" use="required" type="xs:integer"/>
			<xs:attribute name="durationModel" use="required" type="xs:string"/>
			<xs:attribute name="earliestDue" use="required" type="xs:integer"/>
			<xs:attribute name="horizonDays" use="required" type="xs:integer"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="maxCumulCapacity" use="required" type="xs:integer"/>
			<xs:attribute name="maxCumulDemand" use="required" type="xs:integer"/>
			<xs:attribute name="maxDowntime" use="required" type="xs:integer"/>
			<xs:attribute name="maxDuration" use="required" type="xs:integer"/>
			<xs:attribute name="maxQty" use="required" type="xs:integer"/>
			<xs:attribute name="maxStages" use="required" type="xs:integer"/>
			<xs:attribute name="maxWip" use="required" type="xs:integer"/>
			<xs:attribute name="minCumulCapacity" use="required" type="xs:integer"/>
			<xs:attribute name="minCumulDemand" use="required" type="xs:integer"/>
			<xs:attribute name="minDowntime" use="required" type="xs:integer"/>
			<xs:attribute name="minDuration" use="required" type="xs:integer"/>
			<xs:attribute name="minQty" use="required" type="xs:integer"/>
			<xs:attribute name="minStages" use="required" type="xs:integer"/>
			<xs:attribute name="minWip" use="required" type="xs:integer"/>
			<xs:attribute name="nrCumulativeResources" use="required" type="xs:integer"/>
			<xs:attribute name="nrDisjunctiveResources" use="required" type="xs:integer"/>
			<xs:attribute name="nrOrders" use="required" type="xs:integer"/>
			<xs:attribute name="nrProducts" use="required" type="xs:integer"/>
			<xs:attribute name="profilePieces" use="required" type="xs:integer"/>
			<xs:attribute name="resourceModel" use="required" type="xs:string"/>
			<xs:attribute name="resourceProbability" use="required" type="xs:double"/>
			<xs:attribute name="seed" use="required" type="xs:integer"/>
			<xs:attribute name="startDateTime" use="required" type="xs:dateTime"/>
			<xs:attribute name="timeResolution" use="required" type="xs:integer"/>
			<xs:attribute name="wipProbability" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="disjunctiveResource">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="setup" use="required" type="xs:IDREF"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="downtime">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="disjunctiveResource" use="required" type="xs:IDREF"/>
			<xs:attribute name="duration" use="required" type="xs:integer"/>
			<xs:attribute name="end" use="required" type="xs:integer"/>
			<xs:attribute name="endDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="start" use="required" type="xs:integer"/>
			<xs:attribute name="startDate" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="inputError">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="classDesc" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
			<xs:attribute name="field" use="required" type="xs:string"/>
			<xs:attribute name="item" use="required" type="xs:string"/>
			<xs:attribute name="severity" use="required" type="xs:string"/>
			<xs:attribute name="value" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="intermediateSolution">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="bound" use="required" type="xs:double"/>
			<xs:attribute name="cost" use="required" type="xs:double"/>
			<xs:attribute name="gapPercent" use="required" type="xs:double"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="solverRun" use="required" type="xs:IDREF"/>
			<xs:attribute name="time" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="job">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="order" use="required" type="xs:IDREF"/>
			<xs:attribute name="process" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="jobAssignment">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="duration" use="required" type="xs:integer"/>
			<xs:attribute name="early" use="required" type="xs:integer"/>
			<xs:attribute name="end" use="required" type="xs:integer"/>
			<xs:attribute name="endDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="job" use="required" type="xs:IDREF"/>
			<xs:attribute name="late" use="required" type="xs:integer"/>
			<xs:attribute name="solution" use="required" type="xs:IDREF"/>
			<xs:attribute name="start" use="required" type="xs:integer"/>
			<xs:attribute name="startDate" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="order">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="due" use="required" type="xs:integer"/>
			<xs:attribute name="dueDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="earlinessWeight" use="required" type="xs:double"/>
			<xs:attribute name="latenessWeight" use="required" type="xs:double"/>
			<xs:attribute name="minDuration" use="required" type="xs:integer"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="process" use="required" type="xs:IDREF"/>
			<xs:attribute name="product" use="required" type="xs:IDREF"/>
			<xs:attribute name="qty" use="required" type="xs:integer"/>
			<xs:attribute name="release" use="required" type="xs:integer"/>
			<xs:attribute name="releaseDate" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="problem">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="nrCumulativeResources" use="required" type="xs:integer"/>
			<xs:attribute name="nrDisjunctiveResources" use="required" type="xs:integer"/>
			<xs:attribute name="nrJobs" use="required" type="xs:integer"/>
			<xs:attribute name="nrOrders" use="required" type="xs:integer"/>
			<xs:attribute name="nrProcesses" use="required" type="xs:integer"/>
			<xs:attribute name="nrProducts" use="required" type="xs:integer"/>
			<xs:attribute name="nrTasks" use="required" type="xs:integer"/>
			<xs:attribute name="timePointsAsDate" use="required" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="process">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="processSequence">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="after" use="required" type="xs:IDREF"/>
			<xs:attribute name="before" use="required" type="xs:IDREF"/>
			<xs:attribute name="offset" use="required" type="xs:integer"/>
			<xs:attribute name="sequenceType" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="processStep">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="durationFixed" use="required" type="xs:integer"/>
			<xs:attribute name="durationPerUnit" use="required" type="xs:integer"/>
			<xs:attribute name="process" use="required" type="xs:IDREF"/>
			<xs:attribute name="setupType" use="required" type="xs:IDREF"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="stage" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="defaultProcess" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourceNeed">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="disjunctiveResource" use="required" type="xs:IDREF"/>
			<xs:attribute name="processStep" use="required" type="xs:IDREF"/>
			<xs:attribute name="value" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourceUtilization">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="active" use="required" type="xs:integer"/>
			<xs:attribute name="disjunctiveResource" use="required" type="xs:IDREF"/>
			<xs:attribute name="earliest" use="required" type="xs:integer"/>
			<xs:attribute name="idle" use="required" type="xs:integer"/>
			<xs:attribute name="idlePercent" use="required" type="xs:double"/>
			<xs:attribute name="latest" use="required" type="xs:integer"/>
			<xs:attribute name="setup" use="required" type="xs:integer"/>
			<xs:attribute name="setupPercent" use="required" type="xs:double"/>
			<xs:attribute name="solution" use="required" type="xs:IDREF"/>
			<xs:attribute name="use" use="required" type="xs:integer"/>
			<xs:attribute name="utilization" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="scenario">
		<xs:complexType>
			<xs:attribute name="dirty" use="required" type="xs:boolean"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="valid" use="required" type="xs:boolean"/>
			<xs:attribute name="dataFile" use="required" type="xs:string"/>
			<xs:attribute name="dataFileVersionNumber" use="required" type="xs:double"/>
			<xs:attribute name="dataGeneratorProperty" use="required" type="xs:IDREF"/>
			<xs:attribute name="ganttLineHeight" use="required" type="xs:double"/>
			<xs:attribute name="ganttLinesPerPage" use="required" type="xs:integer"/>
			<xs:attribute name="ganttWidth" use="required" type="xs:integer"/>
			<xs:attribute name="hasCumulative" use="required" type="xs:boolean"/>
			<xs:attribute name="hasDowntime" use="required" type="xs:boolean"/>
			<xs:attribute name="hasDueDate" use="required" type="xs:boolean"/>
			<xs:attribute name="hasReleaseDate" use="required" type="xs:boolean"/>
			<xs:attribute name="hasSetupTime" use="required" type="xs:boolean"/>
			<xs:attribute name="hasWiP" use="required" type="xs:boolean"/>
			<xs:attribute name="horizon" use="required" type="xs:integer"/>
			<xs:attribute name="solverProperty" use="required" type="xs:IDREF"/>
			<xs:attribute name="startDateTime" use="required" type="xs:dateTime"/>
			<xs:attribute name="timeResolution" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="setup">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="defaultValue" use="required" type="xs:integer"/>
			<xs:attribute name="disjunctiveResource" use="required" type="xs:IDREFS"/>
			<xs:attribute name="sameValue" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="setupMatrix">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="from" use="required" type="xs:IDREF"/>
			<xs:attribute name="to" use="required" type="xs:IDREF"/>
			<xs:attribute name="value" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="setupType">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="processStep" use="required" type="xs:IDREFS"/>
			<xs:attribute name="setup" use="required" type="xs:IDREF"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="solution">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="activeUtilization" use="required" type="xs:double"/>
			<xs:attribute name="bound" use="required" type="xs:double"/>
			<xs:attribute name="duration" use="required" type="xs:integer"/>
			<xs:attribute name="end" use="required" type="xs:integer"/>
			<xs:attribute name="endDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="flowtime" use="required" type="xs:integer"/>
			<xs:attribute name="gap" use="required" type="xs:double"/>
			<xs:attribute name="idlePercent" use="required" type="xs:double"/>
			<xs:attribute name="makespan" use="required" type="xs:integer"/>
			<xs:attribute name="maxEarliness" use="required" type="xs:integer"/>
			<xs:attribute name="maxIdleAfter" use="required" type="xs:integer"/>
			<xs:attribute name="maxIdleBefore" use="required" type="xs:integer"/>
			<xs:attribute name="maxLateness" use="required" type="xs:integer"/>
			<xs:attribute name="maxSetupAfter" use="required" type="xs:integer"/>
			<xs:attribute name="maxSetupBefore" use="required" type="xs:integer"/>
			<xs:attribute name="maxWaitAfter" use="required" type="xs:integer"/>
			<xs:attribute name="maxWaitBefore" use="required" type="xs:integer"/>
			<xs:attribute name="nrEarly" use="required" type="xs:integer"/>
			<xs:attribute name="nrLate" use="required" type="xs:integer"/>
			<xs:attribute name="objectiveValue" use="required" type="xs:integer"/>
			<xs:attribute name="percentEarly" use="required" type="xs:double"/>
			<xs:attribute name="percentLate" use="required" type="xs:double"/>
			<xs:attribute name="setupPercent" use="required" type="xs:double"/>
			<xs:attribute name="solverRun" use="required" type="xs:IDREF"/>
			<xs:attribute name="solverStatus" use="required" type="xs:string"/>
			<xs:attribute name="start" use="required" type="xs:integer"/>
			<xs:attribute name="startDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="totalActiveTime" use="required" type="xs:integer"/>
			<xs:attribute name="totalEarliness" use="required" type="xs:integer"/>
			<xs:attribute name="totalIdleAfter" use="required" type="xs:integer"/>
			<xs:attribute name="totalIdleBefore" use="required" type="xs:integer"/>
			<xs:attribute name="totalLateness" use="required" type="xs:integer"/>
			<xs:attribute name="totalProductionTime" use="required" type="xs:integer"/>
			<xs:attribute name="totalSetupAfter" use="required" type="xs:integer"/>
			<xs:attribute name="totalSetupBefore" use="required" type="xs:integer"/>
			<xs:attribute name="totalWaitAfter" use="required" type="xs:integer"/>
			<xs:attribute name="totalWaitBefore" use="required" type="xs:integer"/>
			<xs:attribute name="weightedEarliness" use="required" type="xs:double"/>
			<xs:attribute name="weightedLateness" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="solutionError">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="classDesc" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
			<xs:attribute name="field" use="required" type="xs:string"/>
			<xs:attribute name="item" use="required" type="xs:string"/>
			<xs:attribute name="severity" use="required" type="xs:string"/>
			<xs:attribute name="solution" use="required" type="xs:IDREF"/>
			<xs:attribute name="value" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="solverProperty">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
			<xs:attribute name="enforceCumulative" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceDowntime" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceDueDate" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceReleaseDate" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceSetup" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceWip" use="required" type="xs:boolean"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="modelType" use="required" type="xs:string"/>
			<xs:attribute name="nrThreads" use="required" type="xs:integer"/>
			<xs:attribute name="objectiveType" use="required" type="xs:string"/>
			<xs:attribute name="producePDF" use="required" type="xs:boolean"/>
			<xs:attribute name="produceReport" use="required" type="xs:boolean"/>
			<xs:attribute name="removeSolution" use="required" type="xs:boolean"/>
			<xs:attribute name="seed" use="required" type="xs:integer"/>
			<xs:attribute name="solverBackend" use="required" type="xs:string"/>
			<xs:attribute name="startDateTime" use="required" type="xs:dateTime"/>
			<xs:attribute name="timeout" use="required" type="xs:integer"/>
			<xs:attribute name="weightEarliness" use="required" type="xs:integer"/>
			<xs:attribute name="weightFlowtime" use="required" type="xs:integer"/>
			<xs:attribute name="weightLateness" use="required" type="xs:integer"/>
			<xs:attribute name="weightMakespan" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="solverRun">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="description" use="required" type="xs:string"/>
			<xs:attribute name="enforceCumulative" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceDowntime" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceDueDate" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceReleaseDate" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceSetup" use="required" type="xs:boolean"/>
			<xs:attribute name="enforceWip" use="required" type="xs:boolean"/>
			<xs:attribute name="label" use="required" type="xs:string"/>
			<xs:attribute name="modelType" use="required" type="xs:string"/>
			<xs:attribute name="nrThreads" use="required" type="xs:integer"/>
			<xs:attribute name="objectiveType" use="required" type="xs:string"/>
			<xs:attribute name="producePDF" use="required" type="xs:boolean"/>
			<xs:attribute name="produceReport" use="required" type="xs:boolean"/>
			<xs:attribute name="removeSolution" use="required" type="xs:boolean"/>
			<xs:attribute name="seed" use="required" type="xs:integer"/>
			<xs:attribute name="solverBackend" use="required" type="xs:string"/>
			<xs:attribute name="startDateTime" use="required" type="xs:dateTime"/>
			<xs:attribute name="timeout" use="required" type="xs:integer"/>
			<xs:attribute name="weightEarliness" use="required" type="xs:integer"/>
			<xs:attribute name="weightFlowtime" use="required" type="xs:integer"/>
			<xs:attribute name="weightLateness" use="required" type="xs:integer"/>
			<xs:attribute name="weightMakespan" use="required" type="xs:integer"/>
			<xs:attribute name="solverStatus" use="required" type="xs:string"/>
			<xs:attribute name="time" use="required" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="task">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="duration" use="required" type="xs:integer"/>
			<xs:attribute name="follows" use="required" type="xs:IDREFS"/>
			<xs:attribute name="job" use="required" type="xs:IDREF"/>
			<xs:attribute name="machines" use="required" type="xs:IDREFS"/>
			<xs:attribute name="nr" use="required" type="xs:integer"/>
			<xs:attribute name="precedes" use="required" type="xs:IDREFS"/>
			<xs:attribute name="processStep" use="required" type="xs:IDREF"/>
			<xs:attribute name="shortName" use="required" type="xs:string"/>
			<xs:attribute name="stage" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="taskAssignment">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="disjunctiveResource" use="required" type="xs:IDREF"/>
			<xs:attribute name="duration" use="required" type="xs:integer"/>
			<xs:attribute name="end" use="required" type="xs:integer"/>
			<xs:attribute name="endDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="start" use="required" type="xs:integer"/>
			<xs:attribute name="startDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="idleAfter" use="required" type="xs:integer"/>
			<xs:attribute name="idleBefore" use="required" type="xs:integer"/>
			<xs:attribute name="jobAssignment" use="required" type="xs:IDREF"/>
			<xs:attribute name="setupAfter" use="required" type="xs:integer"/>
			<xs:attribute name="setupBefore" use="required" type="xs:integer"/>
			<xs:attribute name="task" use="required" type="xs:IDREF"/>
			<xs:attribute name="waitAfter" use="required" type="xs:integer"/>
			<xs:attribute name="waitBefore" use="required" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="wiP">
		<xs:complexType>
			<xs:attribute name="applicationDataset" use="required" type="xs:IDREF"/>
			<xs:attribute name="id" use="required" type="xs:ID"/>
			<xs:attribute name="name" use="required" type="xs:string"/>
			<xs:attribute name="disjunctiveResource" use="required" type="xs:IDREF"/>
			<xs:attribute name="duration" use="required" type="xs:integer"/>
			<xs:attribute name="end" use="required" type="xs:integer"/>
			<xs:attribute name="endDate" use="required" type="xs:dateTime"/>
			<xs:attribute name="start" use="required" type="xs:integer"/>
			<xs:attribute name="startDate" use="required" type="xs:dateTime"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
